// #region Colors
$color-dark-grey: #323540;
$color-blue-grey: #5f657b;
$color-baked-yellow: #d89f5f;
$color-green-gold: #b7a968;
$color-light-grey: #f5f5f0;
// #endregion Colors

// #region Fonts
$font-main: 'Open Sans Hebrew Condensed', Arial, Helvetica, sans-serif;
$font-secondary: 'Open Sans', sans-serif;
// #endregion Fonts