@import '../../styles/variables.scss';

#globalNav {
    display: flex;
    justify-content: space-between;
    width: 100%;

    ul {
        display: flex;
        gap: 2.5rem;
        list-style: none;
        padding: 0;
        align-items: center;

        li {
            padding: 1rem 0;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.2rem;
            font-weight: 300;
            color: $color-black;


            a {
                text-decoration: none;
                font-weight: 600;
                font-size: 1.2rem;
                font-weight: 300;
                color: $color-black;
                cursor: pointer;

                &:hover {
                    opacity: .7;
                }

                &.active {
                    border-bottom: 3px solid $color-cloud-blue;
                    opacity: 1;
                    cursor: default;
                }
            }

        }


    }
}



li button,
li a {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    margin: 0 0;
}



#loginBtn {
    button {
        border-radius: 12px;
        border: 2px solid $color-dark-blue;
        background-color: $color-dark-blue;
        padding: .5rem 1rem;
        transition: 200ms ease-in-out;
        color: $color-white;
        &:hover {
            background-color: $color-white;
            color: $color-dark-blue
        }
    }

}

#logoutBtn {
    button {
        border-radius: 12px;
        border: 2px solid $color-dark-blue;
        background-color: $color-dark-blue;;
        padding: .5rem 1rem;
        transition: 200ms ease-in-out;
        color: $color-white;
        &:hover {
            background-color: $color-white;
            color: $color-dark-blue;
        }
    }
}